/* Estilos gerais */
body {
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background:rgb(130,175,135);
    background: linear-gradient(45deg, rgba(130,175,135,1) 0%, rgba(74,121,88,1) 30%, rgba(44,92,62,1) 100%);
    box-sizing: border-box;
}


.hidden {
    display: none;
}

.conteiner-contato, .sobre-mim-container {
    max-width: 100%;
    overflow-x: hidden; /* Adicionado */
}

header {
    background-color: #2C5C3E;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}

.logo-header-image {
    width: 10%; 
    height: auto; 
}

header nav {
    margin-right: 20px;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin-left: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Home Section */
main {
    position: relative;
    padding-bottom: 80px; /* para a imagem de background ultrapassar a div de dentro */
}

main::before {
    content: ''; /* Adiciona conteúdo ao pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/home_background.webp'); /* Imagem de plano de fundo */
    background-size: cover; /* Faz a imagem de fundo cobrir toda a área */
    background-position: center; /* Centraliza a imagem de fundo */
    border-radius: 16px;
    opacity: 0.25; /* Define a opacidade da imagem de plano de fundo */
    z-index: -1; /* Coloca a camada do plano de fundo atrás do conteúdo */
}

.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.intro {
    width: 50%;
    margin-top: 50px;
}

.intro h1 {
    font-size: 50px;
    margin-bottom: 0;
    color: #ffffff;
}

.intro h2 {
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 50px;
    color: #ffffff;
}

.intro p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #dddddd;
}

.buttons button {
    margin-top: 25px;
    padding: 12px 25px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px;
    font-size: 16px;
}

.btn-contato {
    padding: 9px 25px; /* Tamanho do padding pode ser ajustado conforme necessário */
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px;
    font-size: 16px;
    background-color: #2C5C3E; /* Cor de fundo */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado de links */
    display: inline-block; /* Garante que a tag a se comporte como um botão */
    text-align: center; /* Centraliza o texto no botão */
}

.btn-contato:hover {
    background-color: #82AF87; /* Cor de fundo ao passar o mouse */
}

.buttons button:hover {
    background-color: #82AF87;
}

.profile-picture {
    margin-top: 50px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url('../images/foto_perfil_transparente.png');
    background-size: cover;
    background-position: center;
}

/* Serviços Section */
#titulo-servicos {    
    margin-top: 300px;
    padding-top: 30px;
    padding-left: 30px;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 100px;
}

.container-servico {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.servico {
    padding: 30px;
    flex: 1;
}

.icone-atendimento {
    filter: invert(100%);
    width: 180px;
    height: 180px;
}

.icone-avaliacao {
    filter: invert(100%);
    margin-top: 7%;
    width: 80px;
    height: 80px;
    margin-bottom: 8%;
}

.servico h2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}

.servico p {
    font-size: 18px;
    color: #e1e1e1;
}

.barra-lateral {
    width: 1px;
    background-color: #ffffff; /* Cor da barra lateral */
    margin: 0 50px; /* Espaçamento em torno da barra lateral */
    margin-top: 40px;
    margin-bottom: 25px;
}

/* Contato Section */
#titulo-contato {
    margin-top: 300px;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    color: white;
    font-size: 30px;
    margin-bottom: 140px;   
}

.conteiner-contato {
    display: flex;
    margin-left: 8%;
}

.instagram {
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.instagram-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-logo i {
    color: white;
    font-size: 30px;
}

.instagram-logo p {
    margin-left: 10px;
    color: white;
}

.slider {
    position: relative;
    width: 340px;
    height: 350px;
    /* border: 1px solid #ccc; */
    perspective: 100px;
    overflow: hidden;
}

.carousel-track {
    position: relative;
}

.instagram-post {
    margin-top: 100px;
    position: absolute;
    width: 250px;
    height: 250px;
    font-size: 2rem;
}

.instagram-post img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#logoSimples {
    height: 200px;
    width: 200px;
}

.form {
    margin-left: 15%;
}

.whatsapp-logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.whatsapp-logo i {
    font-size: 30px;
    color: white;
}

.whatsapp-logo p {
    margin-left: 10px;
    color: white;
}

.form-container {
    padding: 24px;
    border: 1px solid #ffffff;
    border-radius: 16px;
    width: 100%; /* Ajuste conforme necessário */
    align-items: flex-start;
}

.input-field, .textarea-field {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding: 12px 0;
    width: 100%;
    outline: none;
    transition: all 0.3s;
}

.input-field::placeholder, .textarea-field::placeholder {
    color: #ffffff;
}

.input-field:focus, .textarea-field:focus {
    border-bottom-color: #00c4a7; /* Cor de acento, ajuste conforme necessário */
}

.textarea-field {
    padding-top: 48px;
    margin-bottom: 48px;
    resize: none;
}

.submit-button {
    padding: 8px 16px;
    font-size: large;
    cursor: pointer;
    background-color: #2C5C3E; /* Cor de acento */
    border: none;
    color: white;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #82AF87; /* Escurecer um pouco no hover */
}

.email {
    margin-top: 35px;
    display: flex;
    align-items: center;
}

.email i {
    margin-left: 15px;
    font-size: 30px;
    color: white;
}

.email p {
    margin-left: 10px;
    color: white;
}

/* Sobre Mim Section */
#titulo-sobre-mim {
    margin-top: 300px;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 30px;
    color: white;
    margin-bottom: 100px;
}

.sobre-mim {
    margin-bottom: 300px;
}

.sobre-mim-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-mim-container img {
    width: 340px;
    height: 500px;
    opacity: 0.7;
    border-radius: 10px;
}

.sobre-mim-container ul {
    list-style: none;
    margin-left: 100px;
}

.sobre-mim-container ul li {
    color: white;
    font-size: 21px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    transition: background-color 0.3s;
}

.sobre-mim-container ul li:hover {
    background-color: rgba(255, 255, 255, 0.096);
}

/* Localização Section */
#titulo-localizacao {
    margin-top: 300px;
    padding-top: 30px;
    font-size: 30px;
    padding-left: 30px;
    color: white;
    margin-bottom: 100px;
}

.container-localizacao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.info-loc h1 {
    margin-bottom: 30px;
    color: #eeeeee;
}

.info-loc-menor {
    line-height: 1.2; /* Define o espaçamento entre as linhas de texto */
    color: #eeeeee;
}

.info-loc-menor a {
    color: #3089c5; /* Altera a cor do link */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Torna o texto em negrito */
    border-radius: 5px; /* Arredonda os cantos do link */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave ao mudar a cor de fundo */
}

.info-loc-menor a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.info-loc-menor p {
    margin: 5px 0; /* Adiciona um pequeno espaço entre os parágrafos */
}

.mapa {
    margin-left: 150px;
}
